body {
	
	background-image: url(ref/img/bg.jpg);
	color: #00ff00;
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
}
h1 {
	color: #00ff00;
	font-family: "Times New Roman", Times, serif;
	font-size: 48px;
	text-align: center;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

menubar {
	color: #ff0000;
	text-align: center;
	font-size: 32px;
	text-decoration: underline;
}
table{ 
	color: #ff0000;
	font-color: #ff0000;
	font-size: 32px;
	border-size: 1px;
	border-color: #ff0000;
	width: 600px;
	text-align: center;
}
p {
	
	margin-left: 40px;
	padding-left: 100px;
	padding-right: 200px;
}

special {
	color: #ff0000;
	font-size: 32px;
	font-style: oblique;

}
h2 {
	text-align: center;
	color: #ff0000;
	font-size: 32px;
	font-style: oblique;

}
h3{
	text-align: center;
	color: #ff0000;
	font-style: oblique;
	font-size:40px;
}
.sub {
	margin-top: -5px;
	padding: 0px;
	text-align: center;
	font-style: oblique;
	font-size: 12px;

}